  <%= stylesheet_link_tag "welcome", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "welcome", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<div class="jumbotron">
	
	<h1>Create a New List!</h1>

	<div class="newFormContainer">
	  <div class="col-md-8">
	    <%= form_for @list do |f| %>
	      <div class="form-group">
	        <%= f.label :title %>
	        <%= f.text_field :title, class: 'form-control', placeholder: "Enter list name" %>
	      </div>
	      <div class="form-group">
	        <%= f.label :body %>
	        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter list description" %>
	      </div>
	      <%= f.submit "Save", class: 'btn btn-success' %>
	    <% end %>
	  </div>
	</div>


</div>



  