<h1><%= @list.title %></h1>
<h1><%= @list.body %></h1>
 <% if @list.nil? %>
   <%= link_to "New To-do List", new_list_path, class: 'btn btn-success' %>
 <% end %>

	<div class ="col-md-1">
	    <%= link_to "New", new_list_path, class: 'btn btn-success' %>
		
	</div>
 
  <div class="col-md-2">
    <%= link_to "Edit", edit_list_path(@list), class: 'btn btn-success' %>
  </div>
  
  <div class = "col-md-3">
	  <%= link_to "Delete List", @list, method: :delete, class: 'btn btn-success' %>
  </div>
  
  <div class = "col-md-4">	
  	  <%= render  'items/form', list: @list, item: @item %>
  </div>
 <div class= "col-md-8">
	 <% @items.each do |item| %>
	 	<div class = "media">
			<div class = "media-body">
			<p class = "lead">
             <%= link_to (markdown item.name), [@list, item] %>
 			</div>
		</div>
 	 <% end %>
 </div>
